@import '/src/app/utlis/colors.scss';

.subMenu {
  position: relative;
  color: $darkColor2;
}

.mainMenu {
  background-color: $whiteColor !important;
  color: $darkColor2;
}

.item {
  padding-left: 16px !important;
}

@media screen and (max-width: 600px) {
  .mainMenu {
    width: 150px !important;
  }
}
