.subMenu {
  // z-index: 10;
  position: relative;
  color: #141f2d;
}

.mainMenu {
  background-color: #fff !important;
  color: #141f2d;
}

.item {
  padding-left: 16px !important;
}

@media screen and (max-width: 600px) {
  .mainMenu {
    width: 150px !important;
  }
}
