@import '/src/app/utlis/colors.scss';

.table {
  width: 100%;
  color: $darkColor1;
}

.tableWrapper {
  width: 100%;
  overflow-x: scroll;
}

.tableWrapper::-webkit-scrollbar {
  height: 9px;
}

.tableWrapper::-webkit-scrollbar-track {
  background: $liteBackground;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: $darkBackground3;
  border-radius: 20px;
}

.tableMain {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;

  tr {
    th {
      background-color: $liteBackground2;
      font-size: 16px;
      font-weight: 600;
      height: 60px;
    }

    td {
      height: 44px;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      padding: 0 10px;
    }
  }
}
.trData:nth-child(odd) {
  background-color: $liteBackground4;
}

.docSubmit {
  border-radius: 8px;
  height: 29px;
  width: 61px;
  background-color: $liteBackground3;
  border: 1px solid $borderLite1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.aproval {
  width: 69px;
  height: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.waiting {
  background-color: $liteBackground5;
  color: $liteColor1;
}

.denied {
  background-color: $liteBackground6;
  color: $liteColor2;
}

.approved {
  background-color: $liteBackground7;
  color: $liteColor3;
}

.longText {
  max-width: 350px;
  text-align: left !important;
}

.h1 {
  min-width: 39px;
  border-top-left-radius: 10px;
  border-right: 1px solid $whiteColor;
}
.h2 {
  min-width: 52px;
  border-right: 1px solid $whiteColor;
}
.h3,
.h4,
.h5 {
  border-right: 1px solid $whiteColor;
  min-width: 99px;
}

.h6 {
  border-right: 1px solid $whiteColor;
  min-width: 189px;
}

.h7 {
  border-right: 1px solid $whiteColor;
  min-width: 86px;
}
.h8 {
  border-right: 1px solid $whiteColor;
  min-width: 371px;
}
.h9 {
  min-width: 200px;
  border-top-right-radius: 10px;
}

.pagination {
  background-color: $liteBackground1;
  height: 60px;
  width: 100%;
  font-size: 16px;
  display: flex;
  color: $liteColor !important;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

@media screen and (max-width: 768px) {
  .pagination {
    column-gap: 0px;
  }
}
