$primaryColor: #0b101a;

$darkColor1: #222222;
$darkColor2: #141f2d;
$darkColor3: #5a616a;
$darkColor6: #a1a1a1;

$liteColor: #a1a1a1;
$liteColor1: #9a3412;
$liteColor2: #991b1b;
$liteColor3: #166534;

$darkBackground: #232c3f;
$darkBackground1: #2a3958;
$darkBackground3: #6f80a0;

$liteBackground: #e6e8ea;
$liteBackground1: #f1f3f5;
$liteBackground2: #eef0f4;
$liteBackground3: #ebeef3;
$liteBackground4: #f9f9fb;
$liteBackground5: #ffedd5;
$liteBackground6: #fee2e2;
$liteBackground7: #dcfce7;

$borderLite: #b1b4bb;
$borderLite1: #d7d8da;

$whiteColor: #ffffff;

$shadow1: rgba(54, 54, 54, 0.15);
