@import '/src/app/utlis/colors.scss';

.basicModal {
  padding: 20px 24px 24px;
}

.modalText {
  color: $primaryColor;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 12px;
}

.btnContainer {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  margin-top: 32px;
}

.btnCheck {
  background-color: $darkBackground1;
  color: $whiteColor;
  width: 170px;
  height: 44px;
  border-radius: 10px;

  &:hover {
    background-color: $darkBackground !important;
    color: $whiteColor !important;
    border: none !important;
  }
}

.btnCancle {
  background-color: $whiteColor;
  color: $darkBackground1;
  border: 1px solid $darkBackground1;
  width: 170px;
  height: 44px;
  border-radius: 10px;

  &:hover {
    background-color: $whiteColor !important;
    color: $darkBackground1 !important;
    border: 1px solid $darkBackground1 !important;
  }
}

//investment Modal

.investmentModal {
  color: $primaryColor;
  padding: 24px 0;
}

.title {
  font-size: 18px;
  font-weight: 700;
  padding-left: 24px;
}

.investmentContent {
  border-top: 1px solid $borderLite1;
  border-bottom: 1px solid $borderLite1;
  margin: 20px 0 25px;
  padding: 18px 24px 32px;

  ul {
    margin-left: 22px;

    li {
      font-size: 13px;
      line-height: 19.5px;
      letter-spacing: -0.02px;
    }
  }
}

.table {
  border: 1px solid $borderLite1;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 8px;
}

.tableRow {
  height: 49px;
}

.heading {
  background-color: $liteBackground3;
  font-size: 16px;
  font-weight: 500;
  width: 160px;
  text-align: left;
  padding-left: 16px;
  border-bottom: 1px solid$whiteColor;

  p {
    position: relative;
    display: inline;

    span {
      position: absolute;
      z-index: 100;
      width: 4px;
      height: 4px;
      right: -8px;
      border-radius: 50%;
      background-color: red;
    }
  }
}

.headingb {
  border-bottom: none;
}

.tableData {
  padding: 0 20px;
  font-size: 14px;
  border-bottom: 1px solid $borderLite1;

  .files {
    width: 76px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $liteBackground3;
    border: 1px solid $borderLite1;
    font-size: 14px;
    letter-spacing: -0.02px;
    border-radius: 8px;
  }
}

.investmentTypesContainer {
  margin-left: -21px;
}

.pl1 {
  padding-left: 8px;
}

.investmentBtns {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.btnCheck1 {
  background-color: $darkBackground1;
  color: $whiteColor;
  width: 160px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;

  &:hover {
    background-color: $darkBackground !important;
    color: $whiteColor !important;
    border: none !important;
  }
}

.btnCancle1 {
  background-color: $whiteColor;
  color: $darkBackground1;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid $darkBackground1;
  width: 160px;
  height: 44px;
  border-radius: 10px;

  &:hover {
    background-color: $whiteColor !important;
    color: $darkBackground1 !important;
    border: 1px solid $darkBackground1 !important;
  }
}

@media screen and (max-width: 600px) {
  .customModalContent {
    width: 400px !important;
  }

  .investmentContent {
    margin: 15px 0 15px;
    padding: 20px 12px;

    ul {
      margin-left: 12px;
    }
  }

  .heading {
    font-size: 14px;
    width: 100px;
    padding-left: 10px;
  }
}

//Aproval rejection modal
.headingCb {
  height: 300px;
  border-bottom: 1px solid $borderLite1;
}

.cbBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cb {
  font-size: 14px;
  color: $primaryColor;
  margin-bottom: 5px;
}

.textArea {
  resize: 'none';
}

.textArea::-webkit-scrollbar {
  width: 7px;
}

.textArea::-webkit-scrollbar-track {
  background: $liteBackground;
}

.textArea::-webkit-scrollbar-thumb {
  background-color: $darkBackground3;
  border-radius: 4px;
}

.inputContainer {
  display: flex;
  margin-top: 21px;
  column-gap: 4px;

  div {
    width: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid $borderLite1;

    //title
    div {
      width: 160px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-size: 15px;
      font-weight: 500;
      background-color: $liteBackground2;
    }
  }
}

@media screen and (max-width: 800px) {
  .inputContainer {
    flex-direction: column;
    margin-top: 10px;
    row-gap: 4px;

    div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .inputContainer {
    div {
      width: 100%;

      div {
        width: 100px;
        padding-left: 10px;
        font-size: 14px;
      }
    }
  }

  .cb {
    font-size: 12px;
    margin-bottom: 2px;
  }
}

//View Docoment
.docParent {
  border: 1px solid $borderLite1;
  border-radius: 10px;
  display: flex;
}

.border {
  border: 1px solid $borderLite1;
}

.heading {
  width: 160px;
  padding-left: 15px;
  background-color: $liteBackground2;
}

.aligment {
  display: flex;
  align-items: center;
  // padding-bottom: 20px;
}

.docSlider {
  margin: 15px 0px 0 15px;
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  max-height: 705px;
  overflow-y: auto;
}

.docSlider::-webkit-scrollbar {
  width: 7px;
}

.docSlider::-webkit-scrollbar-track {
  background: $liteBackground;
}

.docSlider::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $darkBackground3;
}

.docImg {
  border-radius: 10px;
  border: 1px solid $borderLite;
  width: 100%;
  height: 100%;
  max-height: 645px;
  margin-bottom: 8px;
}

@media screen and (max-width: 1200px) {
  .customModalContentDoc {
    width: 600px !important;
  }
  .docSlider {
    max-width: 400px;
    max-height: 550px;
  }
}

@media screen and (max-width: 600px) {
  .customModalContentDoc {
    width: 400px !important;
  }
  .docSlider {
    max-width: 300px;
    max-height: 400px;
  }

  .heading {
    width: 100px;
    padding-left: 10px;
    font-size: 14px;
  }
}
